.button {
  background: var(--blue-dark);
  color: var(--gray-100);
  width: 90px;
  height: 52px;
  border-radius: 8px;
  border: none;
  font-size: 0.875rem;
  font-weight: 700;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button:hover {
  background: var(--blue);
  cursor: pointer;
}
