.createdTasks {
  grid-area: createdTasks;
  color: var(--blue);
  display: flex;
  gap: 6px;
  font-weight: 700;
}

.createdTasks span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 19px;
  border-radius: 9px;
  background: var(--gray-400);
  color: var(--gray-100);
  font-size: 0.75rem;
}

.completedTasks {
  grid-area: completedTasks;
  display: flex;
  justify-content: end;
  gap: 6px;
  color: var(--purple);
  font-weight: 700;
}
.completedTasks span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 19px;
  border-radius: 9px;
  background: var(--gray-400);
  color: var(--gray-100);
  font-size: 0.75rem;
}
.tasks {
  grid-area: teste;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 244px;
  color: var(--gray-300);
  font-size: 1rem;
}

p:nth-child(2) {
  font-weight: 700;
}
.tasks img {
  height: 56px;
  width: 56px;
  margin-bottom: 16px;
}
.container {
  margin-top: 15px;
  width: 736px;
  display: grid;
  grid-template-areas: "createdTasks completedTasks" "teste teste";
  align-items: center;
  color: white;
}
